# --- System & IDE ---
.DS_Store
.vscode/

# --- Python Essentials ---
__pycache__/
*.pyc

# --- Virtual Environments ---
.venv/
env/
venv/

# --- Build Artifacts (from packaging) ---
*.egg-info/
dist/
build/
_site/
api_reference/
objects.json
_sidebar.yml

app/dist/
app/*.spec

package

**/*.csv

# --- Testing & Code Quality ---
.pytest_cache/
.coverage
htmlcov/

# --- Project Data & Outputs ---
materials
/.quarto/

**/*.quarto_ipynb
