site_name: digiqual Docs
repo_url: https://github.com/JGIBristol/digiqual
repo_name: JGIBristol/digiqual
theme:
  name: material

edit_uri: edit/main/docs/

plugins:
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          paths: [src]

nav:
  - Home: index.md
  - Quick Start: quick_start.md
  - Reference: reference.md
