site_name: digiqual Docs
repo_url: https://github.com/JGIBristol/digiqual
repo_name: JGIBristol/digiqual
edit_uri: edit/main/docs/

theme:
  name: material



plugins:
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          paths: [src]



markdown_extensions:
  - pymdownx.arithmatex:
      generic: true

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

nav:
  - Home: index.md
  - Quick Start: quick_start.md
  - Reference: reference.md
