site_name: digiqual Docs
theme:
  name: material

plugins:
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          paths: [src]

nav:
  - Home: index.md
  - Quick Start: quick_start.md
  - Reference: reference.md
