[project]
name = "digiqual"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.9"
dependencies = [
    "matplotlib>=3.9.4",
    "numpy>=2.0.2",
    "pandas>=2.3.3",
    "requests>=2.32.5",
    "scipy>=1.13.1",
]

[dependency-groups]
dev = [
    "pytest>=8.4.2",
]
