name: CI/CD

on:
  push:
    branches: [main, dev]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      # This is the magic part! GitHub will run this job 4 times.
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]

    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v1

      - name: Install Python ${{ matrix.python-version }}
        # We pass the matrix variable here instead of hardcoding 3.11
        run: uv python install ${{ matrix.python-version }}

      - name: Install Dependencies
        run: uv sync --extra dev

      - name: Run Tests
        run: uv run pytest
